.logo {
    width: 150px;
}
.navbar-custom{
    background-color: green;
}
.card {
  box-shadow: 0 4px 8px 0 darkgreen;
  transition: 0.3s;
  width: 60%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 lightskyblue;
}

.container {
  padding: 2px 16px;
}
a:link, a:visited {
  background-color: lightskyblue;
  color: darkgreen;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
body {
    background-color: rgb(210,180,140);
    background-image: url("/images/warm.jpg");
    background-size: cover;
    color: white;
}