{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/App.css">
        <title>Atse Wild-Life</title>
    </head>
    <body>
    <header>
        <hr class="nav-hr">
        <nav class="navbar navbar-inverse navbar-custom">
            <div class="row">
                <div class="col-md-2">
                    <img class="logo" src="/images/logo.png">
                </div>
                <div class="links col-md-10">
                    <h1 style="color: white;">Welcome to Atse Wild Life Tracker.</h1>
                    <a href="/">Home</a>
                    <a href="/animals">Animals List</a>
                    <a href="/Aform">Add Animal</a>

                    <a href="/sightings-form">Add Animal</a>


                </div>
            </div>
        </nav>
    </header>
{{/block}}

{{#block "content"}}

{{/block}}

{{#block "footer"}}
    </body>
    </html>
{{/block}}