{{#partial "content"}}
<h3>Add Sighting</h3>
<form action="/sightings" method="post">
    <label for="rangerName">Animal Names (separate by commas)</label>
    <input type="text" name="rangerName" class="form-control" required>

    <div class="form-group">
        <label for="location">Location</label>
        <select class="form-control" name="location">
            <option>North</option>
            <option>East</option>
            <option>West</option>
            <option>South</option>
        </select>
    </div>
    <div class="form-group">
        <label for="animalid">Animal ID</label>
        <input type="number" name="animalid" class="form-control" min="1" required>
    </div>
    <button type="submit" name="button" class="btn btn-success">Add Sighting</button>
</form>
{{/partial}}

{{> layout.hbs}}